<html>
<head>
	<link rel="stylesheet" type="text/css" href="../index.css">
	<META name="keywords" content="apple,orange,banana"> 
	<title>Template Page</title>
		<style>
			body { margin: 0; }
			canvas { width: 100%; height: 100% }
		</style>
<script type="text/x-mathjax-config">
  MathJax.Hub.Queue(function () {	
  // Hide MathJax until rendered by putting them in divs of the class "hide_math"
	var mathdivs = document.getElementsByClassName("hide_math");
	for (i = 0; i < mathdivs.length; i++) { 
		mathdivs[i].style.visibility = "";
	}	
  });
</script>
<script type="text/javascript" src="../js/MathJax/MathJax.js?config=TeX-AMS_HTML-full"></script>
<script src="../js/QZMath.js"></script>
<script src="../js/three.js"></script>
<script src="../js/OrbitControls.js"></script>	
</head>

<body bgcolor="#888888" text="#000000">
<div id="wrap">

<h1>Template</h1>
<br>
Basic template three.js implementation
<br>
<br>
<script src="js/main.js"></script>
<br>
<div id="cent_text">
<i><b>figure 1</b> : the graphics window.</i>
</div>
<hr>
<h2>Site Navigation</h2>
<a href="../index.html">Homepage</a>
	<br>
	<br>
	<hr>
<div id="copyright_text">
&copy; 2018 Kevin Bergamin.
</div>
</div>

</BODY>
</HTML>
